<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Tentang Kami</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>PGP Golf Persada adalah perkumpulan penggiat dan penggemar golf yang terdaftar dalam organisasi Persada. Kami menyelenggarakan kegiatan golf rutin dan turnamen setiap kuartal, dengan hadiah yang dipersiapkan dari unit koperasi organisasi kami. Selain golf, unit koperasi PGP juga menyediakan peralatan golf untuk dipinjamkan kepada anggota kami.</p>
        <p>Kami tunggu partisipasi kalian! </p>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-sign-in"></i> Gabung Sekarang
        </a>
      </div>
    </div>
  </div>
</section>
